/** TODO:
* - Remove `overflow-scrolling`
* - Remove `doesnotexist`
*/

::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 960px) {
  body {
    scrollbar-width: thin !important;
  }

  body::-webkit-scrollbar,
  body::-webkit-scrollbar-track {
    display: block;
    width: 14px;
  }

  body::-webkit-scrollbar-track {
    background: #e1e2e3;
  }

  body::-webkit-scrollbar-thumb {
    box-shadow: 0 0 0 4px #e1e2e3 inset, 0 0 0 7px #666 inset;
    border-radius: 10px;
    border: none;
  }
}

@media only screen and (min-width: 960px) {
  .withScrollbar * {
    scrollbar-width: thin;
  }

  .withScrollbar *::-webkit-scrollbar,
  .withScrollbar *::-webkit-scrollbar-track {
    display: block;
    width: 14px;
  }

  .withScrollbar *::-webkit-scrollbar-track {
    background: #f0f1f2;
  }

  .withScrollbar *::-webkit-scrollbar-thumb {
    box-shadow: 0 0 0 4px #f0f1f2 inset, 0 0 0 7px #ccc inset;
    border-radius: 10px;
    border: none;
  }
}

*,
html {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

*,
body::after,
body::before {
  box-sizing: border-box;
  outline: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
body,
details,
figcaption,
figure,
footer,
header,
hgroup,
html,
menu,
nav,
section {
  display: block;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  overscroll-behavior-y: contain;
  padding-bottom: 0;
}

body > #lixiapp,
body > #lixiapp > div {
  width: 100%;
  background: #fff;
}

.video-iframe-wrap {
  position: relative;
  width: 100%;
}

.video-iframe-wrap > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 959px) {
  body {
    min-height: 100vh;
  }

  body > #lixiapp {
    top: 0;
    left: 0;
    width: 100%;
  }
}

* {
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.user-select-all,
.user-select-all * {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

::selection {
  color: #ff2b70;
  background: #e0e2e4;
  border-radius: 4px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #454647;
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none;
}

html input,
html textarea {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#app-container {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; /* stylelint-disable-line property-no-unknown */
}

.scroll-view {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; /* stylelint-disable-line property-no-unknown */
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}

.ani-bg {
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 5;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #f0f1f2 8%, #e0e2e4 18%, #f0f1f2 33%);
  background-size: 1000px 100px;
}

.mobile-deeplink-gradient {
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0, #fff 49%, #f1eff0 100%);
  background: -webkit-linear-gradient(top, #fff 0, #fff 49%, #f1eff0 100%);
  background: linear-gradient(to bottom, #fff 0, #fff 49%, #f1eff0 100%);
}

.magazine-mobile-cover {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
}

.circular,
.showbox {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sticky {
  position: sticky !important;
  position: -webkit-sticky !important;
}

.mobile-category-gradient {
  position: relative;
}

.mobile-category-gradient::after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0) 0, #fff 100%);
  background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 0, #fff 100%);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 0, #fff 100%);
}

.showbox {
  position: absolute;
  padding: 5%;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 40px;
}

.loader::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

.path-loader {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #555;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  0%,
  100% {
    stroke: #ff4b4b;
  }

  40% {
    stroke: #00b0ff;
  }

  66% {
    stroke: #2ba832;
  }

  80%,
  90% {
    stroke: #f7ab13;
  }
}

.hidden-element {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.prbar {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ff4b4b;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

/* stylelint-disable selector-type-no-unknown */
#prbar,
doesnotexist:-o-prefocus {
  border-radius: 0;
}
/* stylelint-enable selector-type-no-unknown */

.prpos {
  width: 0%;
  min-width: 30%;
  max-width: 100%;
  height: 5px;
  background-color: #ff4b4b;
  transition: width 1s ease;
  -webkit-transition: width 1s ease;
  -o-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -ms-transition: width 1s ease;
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background-image: linear-gradient(
    135deg,
    #ff4b4b 25%,
    #fff 25%,
    #fff 50%,
    #ff4b4b 50%,
    #ff4b4b 75%,
    #fff 75%,
    #fff 100%
  );
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background-image: -moz-linear-gradient(
    135deg,
    #ff4b4b 25%,
    #fff 25%,
    #fff 50%,
    #ff4b4b 50%,
    #ff4b4b 75%,
    #fff 75%,
    #fff 100%
  );
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background-image: -ms-linear-gradient(
    135deg,
    #ff4b4b 25%,
    #fff 25%,
    #fff 50%,
    #ff4b4b 50%,
    #ff4b4b 75%,
    #fff 75%,
    #fff 100%
  );
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background-image: -o-linear-gradient(
    135deg,
    #ff4b4b 25%,
    #fff 25%,
    #fff 50%,
    #ff4b4b 50%,
    #ff4b4b 75%,
    #fff 75%,
    #fff 100%
  );
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background-image: -webkit-linear-gradient(
    135deg,
    #ff4b4b 25%,
    #fff 25%,
    #fff 50%,
    #ff4b4b 50%,
    #ff4b4b 75%,
    #fff 75%,
    #fff 100%
  );
  background-size: 10px 10px;
}

.bg-gift-code {
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background-image: linear-gradient(
    -135deg,
    rgba(0, 0, 0, 0.05) 10%,
    #fff 10%,
    #fff 20%,
    rgba(0, 0, 0, 0.05) 20%,
    rgba(0, 0, 0, 0.05) 30%,
    #fff 30%,
    #fff 40%,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.05) 50%,
    #fff 50%,
    #fff 60%,
    rgba(0, 0, 0, 0.05) 60%,
    rgba(0, 0, 0, 0.05) 70%,
    #fff 70%,
    #fff 80%,
    rgba(0, 0, 0, 0.05) 80%,
    rgba(0, 0, 0, 0.05) 90%,
    #fff 90%,
    #fff 100%
  );
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background-image: -moz-linear-gradient(
    -135deg,
    rgba(0, 0, 0, 0.05) 10%,
    #fff 10%,
    #fff 20%,
    rgba(0, 0, 0, 0.05) 20%,
    rgba(0, 0, 0, 0.05) 30%,
    #fff 30%,
    #fff 40%,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.05) 50%,
    #fff 50%,
    #fff 60%,
    rgba(0, 0, 0, 0.05) 60%,
    rgba(0, 0, 0, 0.05) 70%,
    #fff 70%,
    #fff 80%,
    rgba(0, 0, 0, 0.05) 80%,
    rgba(0, 0, 0, 0.05) 90%,
    #fff 90%,
    #fff 100%
  );
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background-image: -ms-linear-gradient(
    -135deg,
    rgba(0, 0, 0, 0.05) 10%,
    #fff 10%,
    #fff 20%,
    rgba(0, 0, 0, 0.05) 20%,
    rgba(0, 0, 0, 0.05) 30%,
    #fff 30%,
    #fff 40%,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.05) 50%,
    #fff 50%,
    #fff 60%,
    rgba(0, 0, 0, 0.05) 60%,
    rgba(0, 0, 0, 0.05) 70%,
    #fff 70%,
    #fff 80%,
    rgba(0, 0, 0, 0.05) 80%,
    rgba(0, 0, 0, 0.05) 90%,
    #fff 90%,
    #fff 100%
  );
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background-image: -o-linear-gradient(
    -135deg,
    rgba(0, 0, 0, 0.05) 10%,
    #fff 10%,
    #fff 20%,
    rgba(0, 0, 0, 0.05) 20%,
    rgba(0, 0, 0, 0.05) 30%,
    #fff 30%,
    #fff 40%,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.05) 50%,
    #fff 50%,
    #fff 60%,
    rgba(0, 0, 0, 0.05) 60%,
    rgba(0, 0, 0, 0.05) 70%,
    #fff 70%,
    #fff 80%,
    rgba(0, 0, 0, 0.05) 80%,
    rgba(0, 0, 0, 0.05) 90%,
    #fff 90%,
    #fff 100%
  );
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background-image: -webkit-gradient(
    linear,
    100% 100%,
    0 0,
    color-stop(0.1, #fff),
    color-stop(0.1, rgba(0, 0, 0, 0.05)),
    color-stop(0.2, rgba(0, 0, 0, 0.05)),
    color-stop(0.2, #fff),
    color-stop(0.3, #fff),
    color-stop(0.3, rgba(0, 0, 0, 0.05)),
    color-stop(0.4, rgba(0, 0, 0, 0.05)),
    color-stop(0.4, #fff),
    color-stop(0.5, #fff),
    color-stop(0.5, rgba(0, 0, 0, 0.05)),
    color-stop(0.6, rgba(0, 0, 0, 0.05)),
    color-stop(0.6, #fff),
    color-stop(0.7, #fff),
    color-stop(0.7, rgba(0, 0, 0, 0.05)),
    color-stop(0.8, rgba(0, 0, 0, 0.05)),
    color-stop(0.8, #fff),
    color-stop(0.9, #fff),
    color-stop(0.9, rgba(0, 0, 0, 0.05)),
    color-stop(1, rgba(0, 0, 0, 0.05))
  );
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background-image: -webkit-linear-gradient(
    -135deg,
    rgba(0, 0, 0, 0.05) 10%,
    #fff 10%,
    #fff 20%,
    rgba(0, 0, 0, 0.05) 20%,
    rgba(0, 0, 0, 0.05) 30%,
    #fff 30%,
    #fff 40%,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.05) 50%,
    #fff 50%,
    #fff 60%,
    rgba(0, 0, 0, 0.05) 60%,
    rgba(0, 0, 0, 0.05) 70%,
    #fff 70%,
    #fff 80%,
    rgba(0, 0, 0, 0.05) 80%,
    rgba(0, 0, 0, 0.05) 90%,
    #fff 90%,
    #fff 100%
  );
  background-size: 40px 10px;
}

.countdown-gradient {
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 1%,
    #fff 35%,
    rgba(255, 255, 255, 0.98) 36%,
    rgba(255, 255, 255, 0) 100%
  );
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 1%,
    #fff 35%,
    rgba(255, 255, 255, 0.98) 36%,
    rgba(255, 255, 255, 0) 100%
  );
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 1%,
    #fff 35%,
    rgba(255, 255, 255, 0.98) 36%,
    rgba(255, 255, 255, 0) 100%
  );
}

.animate-shake {
  animation: animateshake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-iteration-count: 5;
  transform: translate3d(0, 0, 0);
}

@keyframes animateshake {
  10%,
  90% {
    transform: translate3d(0, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -3px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 3px, 0);
  }
}

.scroll-down {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 10px auto 0;
}

.icon-scroll-down {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.icon-scroll-down:first-child {
  animation: move 3s ease-out 1s infinite;
}

.icon-scroll-down:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.icon-scroll-down::after,
.icon-scroll-down::before {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #abbef5;
}

.icon-scroll-down::before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.icon-scroll-down::after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }

  33% {
    opacity: 1;
    transform: translateY(30px);
  }

  67% {
    opacity: 1;
    transform: translateY(40px);
  }

  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 959px) {
  .bottom-fixed-element,
  body::after {
    transition: 0.5s all ease-out 0s;
    transform: translate3d(0, 0, 1);
  }

  html.body-safe-area body::after {
    height: 5px;
    display: block;
    content: '';
    position: fixed;
    width: 100vw;
    background: #fff;
    z-index: 1001;
    left: 0;
    bottom: 0;
  }

  body.full-body {
    background: #000;
  }

  body.full-body::after {
    display: none !important;
  }
}

@supports (padding-bottom: constant(safe-area-inset-bottom)) {
  @media only screen and (max-width: 959px) {
    .bottom-fixed-element {
      --safe-area-inset-bottom: env(safe-area-inset-bottom);

      transform: translate3d(0, calc(-1 * var(--safe-area-inset-bottom)), 0);
    }

    body {
      --safe-area-inset-bottom: env(safe-area-inset-bottom);

      padding-bottom: var(--safe-area-inset-bottom) !important;
    }

    body.full-body {
      padding-bottom: 0 !important;
    }

    html.body-safe-area body::after {
      --safe-area-inset-bottom: env(safe-area-inset-bottom);

      height: calc(var(--safe-area-inset-bottom) + 5px);
    }
  }
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  @media only screen and (max-width: 959px) {
    .bottom-fixed-element {
      --safe-area-inset-bottom: env(safe-area-inset-bottom);

      transform: translate3d(0, calc(-1 * var(--safe-area-inset-bottom)), 0);
    }

    body {
      --safe-area-inset-bottom: env(safe-area-inset-bottom);

      padding-bottom: var(--safe-area-inset-bottom) !important;
    }

    body.full-body {
      padding-bottom: 0 !important;
    }

    html.body-safe-area body::after {
      --safe-area-inset-bottom: env(safe-area-inset-bottom);

      height: calc(var(--safe-area-inset-bottom) + 5px);
    }
  }
}

body:-webkit-full-page-media {
  background: #fff;
}

.animation-zis > *:first-child {
  animation: zoom-in-show 0.3s linear;
  animation-iteration-count: 1;
}

@keyframes zoom-in-show {
  from {
    transform: rotate(0) scale(1);
  }

  50% {
    transform: rotate(-10deg) scale(1.4);
  }

  to {
    transform: rotate(0) scale(1);
  }
}
