:root {
  --colorPrimary: #fe2c6d;

  /** COLOR LIST */
  --colorTransparent: rgba(0, 0, 0, 0);

  /** Color group: black */
  --colorBlack: #000204;
  --colorBlack005: rgba(0, 2, 4, 0.05);
  --colorBlack01: rgba(0, 2, 4, 0.1);
  --colorBlack02: rgba(0, 2, 4, 0.2);
  --colorBlack03: rgba(0, 2, 4, 0.3);
  --colorBlack04: rgba(0, 2, 4, 0.4);
  --colorBlack05: rgba(0, 2, 4, 0.5);
  --colorBlack06: rgba(0, 2, 4, 0.6);
  --colorBlack07: rgba(0, 2, 4, 0.7);
  --colorBlack08: rgba(0, 2, 4, 0.8);
  --colorBlack09: rgba(0, 2, 4, 0.9);
  --colorBlack095: rgba(0, 2, 4, 0.95);

  /** Color group: white */
  --colorWhite: #fff;
  --colorWhite005: rgba(255, 255, 255, 0.05);
  --colorWhite01: rgba(255, 255, 255, 0.1);
  --colorWhite15: rgba(255, 255, 255, 0.15);
  --colorWhite02: rgba(255, 255, 255, 0.2);
  --colorWhite03: rgba(255, 255, 255, 0.3);
  --colorWhite04: rgba(255, 255, 255, 0.4);
  --colorWhite05: rgba(255, 255, 255, 0.5);
  --colorWhite06: rgba(255, 255, 255, 0.6);
  --colorWhite07: rgba(255, 255, 255, 0.7);
  --colorWhite08: rgba(255, 255, 255, 0.8);
  --colorWhite09: rgba(255, 255, 255, 0.9);
  --colorWhite095: rgba(255, 255, 255, 0.95);

  /** Color group: pink */
  --colorPink: #fe2c6d;
  --colorPink01: rgba(255, 43, 112, 0.1);
  --colorPink02: rgba(255, 43, 112, 0.2);
  --colorPink03: rgba(255, 43, 112, 0.3);
  --colorPink04: rgba(255, 43, 112, 0.4);
  --colorPink05: rgba(255, 43, 112, 0.5);
  --colorPink06: rgba(255, 43, 112, 0.6);
  --colorPink07: rgba(255, 43, 112, 0.7);
  --colorPink08: rgba(255, 43, 112, 0.8);
  --colorPink09: rgba(255, 43, 112, 0.9);
  --colorPinkFF: #ffe8ef;

  /** Color group: red */
  --colorRed: #fe2c6d;

  /** Color group: pink */
  --colorpinkHightLight: #ffe0e9;
  --colorPinkLighter: #fe4a81;
  --colorPinkFE: #fe2c6d;
  --colorPinkDarker: #c71762;
  --colorPinkdb: #db046c;
  --colorF00: #f00;
  --colorPinkFE29: #fee9f0;
  --colorPinkFFD4: #ffd4d3;
  --colorPinkE5CF: #e5cfcf;

  /** Color group: yellow */
  --colorYellowDarker: #93712d;
  --colorYellowLighter: #f8d38b;
  --colorYellowF9: #f9f0e1;
  --colorYellowFF: #fffbf1;
  --colorYellowLightest: #fff2da;
  --colorYellow: #f7ab13;
  --colorYellowF7: #f7ab30;
  --colorYellowFE: #fef5e6;

  /** Color group: green */
  --colorGreen: #2ba832;
  --colorGreenDark: #2ba845;
  --colorGreenLight: #e2f0e5;
  --colorGreenE7: #e7f5ea;

  /** Color group: others 1 */
  --colorBlue: #1887db;
  --colorBlueLight: #00b0ff;
  --colorSecondaryBlue: #00b0dd;
  --colorSecondaryBlueOpacity10: rgba(0, 176, 221, 0.1);
  --colorBlue18: #1887db;
  --colorBlue5E: #5eabe6;
  --colorBlueE5: #e5f7fb;
  --colorBlueE5F2: #e5f2fb;
  --colorBlueE6: #e6f2fb;
  --colorBlueCD: #cdeff7;
  --colorBlueF3: #f3f9fd;

  /** Color group: others 2 */
  --colorGold: #ebc920;
  --colorAmber: #b0834a;
  --colorDiamond: #3291b5;

  /** Color group: others 3 */
  --color20: #202020;
  --color2E: #2e3e4e;
  --color3E: #3e4048;
  --color4D: #4d4e4f;
  --color47: #474952;
  --color75: #757779;
  --color8A: #8a8d90;
  --color8E: #8e9dab;
  --color97: #99a7b4;
  --color9A: #9a9a9a;
  --colorA2: #a2a3a5;
  --colorB0: #b0b2b4;
  --colorC5: #c5c5c5;
  --colorCC: #ccc;
  --colorC6: #c6ced5;
  --colorC7: #c7cfd6;
  --colorC7D6: #c7d6d6;
  --colorD1: #d1d2d3;
  --colorD2: #dddfe2;
  --colorD8: #d8d8d8;
  --colorDB: #dbdcdd;
  --colorDD: #dddedf;
  --colorE1: #e1e4e8;
  --colorE4: #e4e4ea;
  --colorE5: #e5ebee;
  --colorE8: #e8e8e9;
  --colorE9: #e9ebee;
  --colorED: #edeeee;
  --colorEF: #eff2f5;
  --colorF0: #f0f2f5;
  --colorF0F0: #f0f0f0;
  --colorF4: #f4f5f6;
  --colorF5: #f5f6f6;
  --colorF7: #f7f9fa;
  --colorFA: #fafcfe;
  --colorFE: #fefefd;
  --colorMomo: #b0006e;
  --colorGoldenFE: #fed37f;

  /** Color group: brands */
    --colorBrandFacebook: #1877FE;
    --colorBrandFacebookLighter: #1877FE;
    --colorBrandInstagram: #8a3ab9;
    --colorBrandYoutube: #FF0202;
    --colorBrandPinterest: #BD081C;
    --colorBrandMomo: #B0006E;
    --colorBrandTwitter: #00aafb;

  /** BOX SHADOW */
  --shadowInsetBottom: 0 -2px 2px rgba(0, 0, 0, 0.25) inset;
  --shadowInsetTop: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
  --shadowInsetMiddle: 0 0 2px rgba(0, 0, 0, 0.25) inset;
  --shadowText: 0 2px 2px rgba(0, 0, 0, 0.9);
  --shadowTextBlur: 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 10px rgba(0, 0, 0, 0.2), 0 1px 20px rgba(0, 0, 0, 0.3);
  --shadowTextSort: 0 1px 1px rgba(0, 0, 0, 0.25);
  --shadowReverse: 0 -5px 7px rgba(0, 0, 0, 0.1);
  --shadowReverseSort: 0 -1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.14);
  --shadowReverse2: 0 -5px 8px rgba(0, 0, 0, 0.25);
  --shadow1: 0 5px 7px rgba(0, 0, 0, 0.1);
  --shadow2: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.124);
  --shadow3: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  --shadow4: 0 3px 8px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.2);
  --shadow5: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --shadow6: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  --shadowInsetBorderTop: inset 0 8px 6px -6px rgba(0, 0, 0, 0.1);

  /** Shadow blur group */
  --shadowBlur: 0 0 0 1px rgba(0, 0, 0, 0.025), 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
  --shadowBlurSort: 0 0 0 1px rgba(0, 0, 0, 0.025), 1px 1px 1px 1px rgba(0, 0, 0, 0.03);

  /** Shadow dropdown */
  --shadowDropdown: 0 -1px 10px rgba(0, 0, 0, 0.124);

  /** Shadow border group */
  --shadowBorderGray: 0 0 0 2px #fff, 0 0 0 5px #ddd;
  --shadowBorderBlack: 0 0 0 2px #fff, 0 0 0 5px #000;
  --shadowBorderError: 0 0 0 1px var(--colorRed);

  /** BREAK POINT */

  --breakPoint1920: 1920px;
  --breakPoint1600: 1600px;
  --breakPoint1440: 1440px;
  --breakPoint1366: 1366px;
  --breakPoint1280: 1280px;
  --breakPoint1170: 1170px;
  --breakPoint1024: 1024px;
  --breakPoint960: 960px;
  --breakPoint959: 959px;
  --breakPoint768: 768px;
  --breakPoint610: 610px;
  --breakPoint480: 480px;
  --breakPoint320: 320px;

  /** Z INDEX LAYER */

  --zIndexNegative: -1;
  --zIndex1: 10;
  --zIndex2: 20;
  --zIndex3: 30;
  --zIndex4: 40;
  --zIndex5: 50;
  --zIndex6: 60;
  --zIndex7: 70;
  --zIndex8: 80;
  --zIndex9: 90;
  --zIndexMin: 0;
  --zIndexMax: 100;

  /** TRANSITION */

  --transitionOpacity: 0.3s opacity ease-out 0s;
  --transitionTransform: 0.3s transform ease-out 0s;
  --transitionOpacityTransform: 0.3s opacity ease-out 0s, 0.3s transform ease-out 0s;
  --transitionNormal: 0.3s all ease-out 0s;
  --transitionNormalFast: 0.3s all ease-out 0s;
  --transitionHeight: 0.3s height ease-out 0s;
  --transitionWidth: 0.3s width ease-out 0s;
  --transitionOpacityTop: 0.3s opacity ease-out 0s, 0.3s top ease-out 0s;
  --transitionBackground: 0.3s background ease-out 0s;
  --transitionColor: 0.3s color ease-out 0s;
  --transitionTop: 0.3s top ease-out 0s;
  --transitionLeft: 0.3s left ease-out 0s;
  --transitionBoxShadow: box-shadow 0.3s ease-in-out;

  /** DEFINED BLUR */
  --blur5: blur(5px);
  --blur10: blur(10px);
  --blur15: blur(15px);
  --blur20: blur(20px);
  --fontLight: 300;
  --fontRegular: 400;
  --fontSemiBold: 600;
  --fontBold: 700;
}
